:root {
  --background-colour: #202124;
  --text-colour: #e8eaed;
  --my-blue: #8ab4f8;
}

@font-face {
  font-family: "Open Dyslexic";
  src: url("../fonts/opendyslexic/Regular.eot");
  src: url("../fonts/opendyslexic/Regular.eot") format("embedded-opentype"),
    url("../fonts/opendyslexic/Regular.woff2") format("woff2"),
    url("../fonts/opendyslexic/Regular.woff") format("woff"),
    url("../fonts/opendyslexic/Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Dyslexic";
  src: url("../fonts/opendyslexic/Italic.eot");
  src: url("../fonts/opendyslexic/Italic.eot") format("embedded-opentype"),
    url("../fonts/opendyslexic/Italic.woff2") format("woff2"),
    url("../fonts/opendyslexic/Italic.woff") format("woff"),
    url("../fonts/opendyslexic/Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Open Dyslexic";
  src: url("../fonts/opendyslexic/Bold.eot");
  src: url("../fonts/opendyslexic/Bold.eot") format("embedded-opentype"),
    url("../fonts/opendyslexic/Bold.woff2") format("woff2"),
    url("../fonts/opendyslexic/Bold.woff") format("woff"),
    url("../fonts/opendyslexic/Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Open Dyslexic";
  src: url("../fonts/opendyslexic/Bold-Italic.eot");
  src: url("../fonts/opendyslexic/Bold-Italic.eot") format("embedded-opentype"),
    url("../fonts/opendyslexic/Bold-Italic.woff2") format("woff2"),
    url("../fonts/opendyslexic/Bold-Italic.woff") format("woff"),
    url("../fonts/opendyslexic/Bold-Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: 100dvh;
  padding: 0;
  max-width: 1000px;
  margin: auto;
  font-size: larger;
  color: var(--text-colour);
  background-color: var(--background-colour);
  font-family: "Open Dyslexic", Arial, Helvetica, sans-serif;
}

button {
  font-family: inherit;
  font-size: inherit;
  padding: 10px;
  width: 100%;
}

button:not([disabled]) {
  cursor: pointer;
}

a {
  word-wrap: break-word;
  color: var(--my-blue);
}

p {
  line-height: 1.5;
}

span {
  -moz-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
  color: var(--text-colour);
  box-shadow: 0 0 0 3px rgba(32, 33, 36, 0);
}
img {
  width: -webkit-fill-available;
  margin: 0 20px;
}

cite {
  margin: 10px;
  display: block;
}

.section {
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
  cursor: pointer;
}

.section:hover span {
  color: var(--my-blue);
}

.audio-button {
  display: grid;
  place-items: center;
  cursor: pointer;
  height: 80px;
  width: 80px;
  margin: auto;
  background: #202124;
  border-radius: 50%;
  transition: all 0.3s ease-in;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1),
    -10px -10px 10px rgba(0, 0, 0, 0.6);
}
.audio-button .fas {
  display: grid;
  line-height: 0;
  place-items: center;
  font-size: 4rem;
}
.audio-button-active {
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.1),
    inset -10px -10px 10px rgba(0, 0, 0, 0.6);
}
.audio-button-active .fas {
  color: var(--my-blue);
}

.font-type-rows {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.font-size-rows {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.arial {
  font-family: Arial, Helvetica, sans-serif;
}

.active_span {
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: var(--my-blue);
  /* background-color: var(--background-colour); */
  /* box-shadow: 0 0 0 3px var(--text-colour); */
}

.buttons {
  display: flex;
  flex-direction: column;
}

.global-settings {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.article-menu {
  width: 100%;
  max-width: 900px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px solid white;
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}
#article-content {
  overflow-x: hidden;
  overflow-y: scroll;
}

#content {
  display: contents;
}

.playback-speed-container {
  margin-left: 50px;
  margin-right: 50px;
}

.max-slider {
  width: 100%;
}

footer {
  position: fixed;
  bottom: 20px;
  background: #333;
  right: 20px;
  text-align: center;
  background: transparent;
  display: flex;
  flex-flow: column;
  row-gap: 10px;
}
footer a {
  text-decoration: none;
}

.fas {
  width: 50px;
}

.download-button-hidden {
  display: none;
}

@media screen and (max-width: 1000px) {
  #article-content {
    padding: 0 20px;
    margin-top: 25px;
  }
  #resume-btn {
    order: 1;
  }
  #pause-btn {
    order: 2;
  }
  .playback-speed-container {
    order: 4;
  }
  #download-btn {
    order: 3;
  }

  .article-menu {
    max-width: 1000px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  .playback-speed-container {
    margin-left: 0;
    margin-right: 0;
    grid-column: span 3;
  }

  .audio-button {
    height: 55px;
    border-radius: 15%;
  }
  footer {
    visibility: hidden;
  }

  img {
    margin: 0;
  }
}

@keyframes stripes {
  to {
    background-size: 100% 100%;
  }
}
